/* 1b1f3b-715aff-fafaff-100007-30343f */

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: -1; */
}

/* 1b1f3b-715aff-fafaff-100007-30343f */
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.box {
  width: 100%;
  display: flex;
  height: 40vh;
  bottom: -100px;
  position: absolute;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-image: linear-gradient(0deg, #000, transparent);
  justify-content: center;
}

.display {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* background-color: #000; */
}
.button-list {
  display: flex;
  overflow-x: auto;
  /* height: 50px;
  width: 1000px; */
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}
.button {
  align-items: center;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  height: 40px;
  width: 120px;
  margin: 10px;
  flex-shrink: 0;
  justify-content: center;
  margin-top: 10vh;
}
.button-text {
  color: #333;
  /* position: absolute; */
  transition: opacity 30ms;
  user-select: none;
  -moz-user-select: none;
}

.button-complete {
  opacity: 0;
  display: none;
  width: 41px;
}

.active.button {
  animation: 1.5s Button;
}
.active .button-text {
  opacity: 0;
  display: none;
  animation: 1.5s Text forwards;
}

.active .button-complete {
  display: block;
  opacity: 1;
  animation: 1.5s Ok forwards;
}

.inactive.button {
  animation: 1.5s InactiveButton;
}

@keyframes Button {
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1);
  }
  40% {
    width: 40px;
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
    width: 40px;
    margin-top: 10vh;
  }
  100% {
    transform: scale(1);
    width: 40px;
    margin-top: 50vh;
  }
}

@keyframes InactiveButton {
  80% {
    margin-top: 10vh;
  }
  100% {
    margin-top: 50vh;
  }
}

@keyframes Text {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
    transform: scale(0.9);
  }
  10% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes Ok {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: -1; */
}

.remove {
  display: none;
}
