body {
  background: black;
}

.display {
  position: relative;
  height: 270px;
  width: 480px;
}

.video {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.display:focus,
.display:active {
  outline: none;
}

#myVideo {
  position: absolute;
  height: 100%;
  width: 100%;
}

#playImg {
  position: absolute;
  /* height: 32%; */
  width: 18%;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -10%;
  margin-top: -9%;
}

.menu {
  top: 5%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.chat {
  bottom: 19%;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
}

button {
  background: #000000bd;
  font-weight: 800;
  margin: 5px 15px;
  padding: 8px 47px;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  border: none;
}

button:focus,
button:active {
  outline: none;
}

button:hover {
  background-color: #427cbcbd;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input {
  padding: 5px 15px;
  margin: 5px 15px;
  padding: 8px 47px;
  border-radius: 10px;
}

/* 
  video::-webkit-media-controls-play-button {
    cursor: not-allowed;
    pointer-events: none;
    display: none;
  }
  
  video::-webkit-media-controls-volume-slider {
  }
  
  video::-webkit-media-controls-mute-button {
  }
  
  video::-webkit-media-controls-timeline {
    cursor: not-allowed;
    pointer-events: none;
  }
  
  video::-webkit-media-controls-current-time-display {
  } */
